
Bitwarden
Bitwarden CLI
GIMP/2.10
GottCode
IJHack
Joplin
KDE
Kvantum
LanguageTool/LibreOffice
LyX
Microsoft/Microsoft Teams
Qnotero
RStudio
SoundWire
Spotify-AdKiller
TabNine
Thunar
WhatsApp Web
abiword
alacritty
atril
autostart
bspwm
btop
caffeine
calibre
coc
configstore
dconf
dmenu
dunst
dwm
enchant
epdfview
gh
gtk-2.0
gtk-3.0
handlr
htop
inkscape
joplin
joplin-desktop
jrnl
kate/lspclient
kde.org
kitty
lazygit
lf
libreoffice/4/user
lxqt
microsoftofficeonline-nativefier-a510f5
morc_menu
msmtp
mutt
nicotine
nuclear
nvim
onedrive
paru
pavucontrol-qt
pcmanfm-qt/default
polybar
pulse
qpdfview
qt5ct
qutebrowser
ranger
rbw
rofi
rstudio
session
spotify
systemd/user
teams
texstudio
uGet
vifm
vlc
xarchiver
xfce4/xfconf/xfce-perchannel-xml
-mimeapps.list
QtProject.conf
Trolltech.conf
cantorrc
dolphinrc
greenclip.toml
kate.kmessagebox
katemetainfos
katerc
katevirc
kcalcrc
kconf_updaterc
kdeglobals
kwalletrc
llpp.conf
mimeapps.list
okular-generator-popplerrc
okular.shortcuts
okularpartrc
okularrc
picom.conf.orig
psppirerc
rkwardrc
user-dirs.dirs
user-dirs.locale
zoomus.conf
libreoffice/4
BraveSoftware/Brave-Browser
Code
Code - OSS
Debauchee
Foxit Software
JetBrains
OpenRGB
Popcorn-Time
QtWAW
TIPP10
TUG
VirtualBox
an2linux
balena-etcher
balena-etcher-electron
cawbird
clerk
cointop
conky
copyq
coreapps
cubocore
fontconfig
gImageReader
galculator
gconf/desktop
gedit
guake
gummi
hexchat
kdeconnect
klavaro
kraxarn
leftwm
libfm
microsoft-edge-dev
mopidy
mpd
mpv
ncmpcpp
ncspot
neofetch
nitrogen
ntfd
ocrfeeder
octave
pcmanfm/default
qtile
quassel-irc.org
redshift
silos
spyder-py3
spyder-py3-dev
sway
touchegg
ulauncher
volumeicon
xm1
xmobar
xournalpp
yt-dlg
kbibtexrc
kile-livepreview-okularpartrc
kilerc
konsolerc
ktouch2rc
pavucontrol.ini
quasselrc
touchegg-gce.conf
onlyoffice
spotify-tui
spotifyd
Google Play Music Desktop Player
QOpenVPN
Smart Code ltd
protonvpn
ario
cantata
polar-desktop-app
spacefm
xfce4
ymuse
labplot2rc
kiorc
baloofileinformationrc
aria2
chromium/NativeMessagingHosts
google-chrome/NativeMessagingHosts
persepolis_download_manager
vivaldi/NativeMessagingHosts
opera/NativeMessagingHosts