# ---------- HIGHLIGHTS ----------
# You can select a piece of text and press the `add_highlight` shortcut followed by a symbol (a character from a-z) to highlight
# the text
add_highlight		a
# Search in highlights of current document
goto_highlight		ga
# Search in highlights of all documents
goto_highlight_g	gA
# Slick on a highlight and then press the `delete_highlight` shortcut to delete it.
delete_highlight	da

# Sets the highlight type to be used for other operations (the default highlight type is 'a')
#set_select_highlight_type

## Same as `add_highlight` but uses the current selected highlight type as the type of highlight
#add_highlight_with_current_type <unbound>

## Toggle select highlight mode. In select highlight mode, all text selected using mouse will automatically be highlighted
## with highlight type set using `set_select_highlight_type`
#toggle_select_highlight <unbound>

# Goto next/previous highlight in current document
goto_next_highlight  gna
goto_prev_highlight  gNa

command  :
goto_end G
goto_left_smart ^
goto_right_smart $
prev_chapter gC
zoom_in +
rotate_counterclockwise R
open_prev_doc O
previous_item N
goto_bookmark_g B
edit_portal P
keyboard_smart_jump F


## Quit sioyek
quit		q
