# If set, we open a new sioyek window when a new file is opened, otherwise we open the file in the previous window
should_launch_new_window				1

startup_commands   toggle_select_highlight;toggle_horizontal_scroll_lock;toggle_custom_color; 

shared_database_path /home/samtrek/Important/sioyek/shared.db

status_bar_color 0.5 0.5 0.5
