* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: #eceff4;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #eceff4;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  border-radius: 6px;
  color: #d8dee9;
}

#workspaces button:hover {
  background: #d8dee9;
  color: #2e3440;
}

#workspaces button.focused {
  background-color: #4c566a;
  color: #eceff4;
}

#workspaces button.active {
  background-color: #4c566a;
  color: #eceff4;
}
#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-pomo,
#custom-weather,
#mpris,
#mpd {
  padding: 0 10px;
  border-radius: 6px;
  color: #eceff4;
}

#window,
#workspaces {
  margin: 0 5px;
}

#clock {
  background-color: #2e3440;
}

#battery {
  background-color: #3b4252;
}

#battery.charging,
#battery.plugged {
  color: #d8dee9;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #5e81ac;
  color: #eff1f5;
}

#memory {
  background-color: #5e81ac;
}

#disk {
  background-color: #b48ead;
}

#backlight {
  background-color: rgba(30, 102, 245, 0.7);
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #179299;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#wireplumber {
  background-color: #81a1c1;
}

#wireplumber.muted {
  background-color: #90b1b1;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #2e3440;
  margin: 0px 5px 0px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2e3440;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #40a02b;
  color: #eff1f5;
}

#mpris {
  background-color: #81a1c1;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: rgba(64, 160, 43, 0.9);
}

#mpris.paused {
  background-color: rgba(64, 160, 43, 0.9);
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#group-less not-less {
  margin: 0 6px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: #2e3440;
}

#scratchpad.empty {
  background-color: transparent;
}

#custom-notification {
  padding: 0 10px;
  border-radius: 6px;
  background-color: #e5e9f0;
  font-family: "NotoSansMono Nerd Font";
  margin: 0px 5px 0px 0px;
  color: #434c5e;
}
#custom-pomo {
  background-color: #6c6f85;
}

#custom-weather {
  transition: none;
  background: #7c7f93;
}
