[Unit]
Description=Megacmd Daemon

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/mega-cmd-server
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=default.target
