[Unit]
Description=Megacmd Daemon

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s
KillMode=process
ExecStart=/usr/bin/mega-cmd-server

[Install]
WantedBy=multi-user.target
