[general]
download_path        = /home/samtrek/Documents/whatsapp
preview_path         = /tmp
cmd_prefix           = /
show_command         = jp2a --color
enable_notifications = true
use_terminal_bell    = false
notification_timeout = 60
backlog_msg_quantity = 10

[keymap]
switch_panels    = Tab
focus_messages   = Ctrl+w
focus_input      = Ctrl+Space
focus_chats      = Ctrl+e
copyuser         = Ctrl+c
pasteuser        = Ctrl+v
command_backlog  = Ctrl+b
command_read     = Ctrl+n
command_connect  = Ctrl+r
command_quit     = Ctrl+q
command_help     = Ctrl+?
message_download = d
message_open     = o
message_show     = s
message_url      = u
message_info     = i
message_revoke   = r

[ui]
chat_sidebar_width = 17

[colors]
background       = grey60
text             = white
forwarded_text   = purple
list_header      = gold
list_contact     = #2E8B57
list_group       = royalblue
chat_contact     = lime
chat_me          = royalblue
borders          = white
input_background = black 
input_text       = snow 
unread_count     = yellow
positive         = green
negative         = red

