window {
    margin: 2px;
    border: 3px solid #2e3440;
    background-color: #5e81ac;
    border-radius: 8px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #8fbcbb;
    background-color: #2e3440;
   	outline: none;
}

#inner-box {
    margin: 4px;
    border: 4px solid #2e3440;
    background-color: #2e3440;
    border-radius: 8px;
}

#outer-box {
    margin: 2px;
    border: none;
    border-radius: 8px;
    background-color: #3b4252;
}

#scroll {
    margin: 0px;
    border: none;
}

#text:selected {
    color: #8fbcbb;
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: #4c566a;
}
